{% extends "base.html.twig" %}

{% block body %}
<link href="{{ asset('css/Form.css') }}" rel="stylesheet"/>

<h1>Formulaire TD4</h1>

{{ form(loginForm) }}

{% if erreur %}
    <p>{{errorMessage}} </p>
{% endif %}

{% endblock %}
