{% extends "base.html.twig" %}

{% block body %}
<h1>Utilisateurs crées :</h1>

{% for user in users %}
    <p>email: {{user.email}}</p>
    <p>password: {{user.password}}</p>
    <hr>
{% endfor %}

{% endblock %}
