body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: rgb(61, 61, 61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body_container{
    padding: 1% 10%;
}
.nav_container{
    height: 10vh;
    background: rgb(29, 29, 29);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5%;
    font-weight: bold;
    font-size: 2vw;
}


.menuImages_container{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    width: 10vw;
    border-left: 1px solid white;
    background: rgb(29, 29, 29);
}
.menuImages_container span {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 2px 9px;
    border-left: 5px solid white;
}

img{
    width: 50%;
}