{% extends "base.html.twig" %}

{% block body %}
	<div class="menuImages_container">
		<span>imagename</span>
		<span>imagename</span>
		<span>imagename</span>
		<span>imagename</span>
	</div>
{% endblock %}
