<link href="{{ asset('css/ImgMenu.css') }}" rel="stylesheet"/>

{% block body %}
	<div class="menuImages_container">
		<span>Menu</span>
		{% for item in imagesFiles %}
			<a href={{"/img/data/#{item}"}}>
				{{item}}
			</a>
		{% endfor %}
		<a href="{{ path('user_login') }}">User login</a>
	</div>

{% endblock %}
